{% extends "base.html" %}

{% block title %}عن الاستبيان{% endblock %}

{% block content %}
    <div class="about-container">
        <h1>عن الاستبيان</h1>
        <p>مرحبًا بك في استبيان "إيه يا وجع"! هذا الاختبار مصمم لمساعدتك في تقييم حالتك النفسية بشكل غير رسمي.</p>
        <p>لقد اعتمدنا على الذكاء الاصطناعي لتقديم نتائج دقيقة بناءً على إجاباتك. نهدف من خلال هذا الاستبيان إلى توعية الناس بأهمية الصحة النفسية وكيفية التعامل معها.</p>
        <p>تم تطوير هذا الاختبار بواسطة المعلم جابر الشرقاوي، ونسعى دائماً لتقديم محتوى يساعد على تحسين حياتك النفسية.</p>
        <p>نأمل أن تجد هذا الاستبيان مفيدًا، ولا تتردد في مشاركته مع أصدقائك!</p>
        
        <div class="button-container">
            <a href="/" class="btn-go-back">الرجوع إلى الصفحة الرئيسية</a>
        </div>
    </div>
{% endblock %}
