<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}إيه يا وجع - استبيان كوميدي{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <!-- تضمين ملف CSS المنفصل -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    {% block head %}{% endblock %}
</head>
<body>
    <!-- الشريط العلوي -->
    <div class="logo-bar">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='hqdefault.png') }}" alt="Logo" class="logo-image">
            <div class="text-around-logo">
                <span class="rotating-text">تعيش فلسطين حره أبيه</span>
            </div>
        </div>
        <div class="logo">إيه يا وجع!</div>
        <div class="nav-links">
            <button type="button" id="toggleButton" class="dark-mode-toggle">
                <i class="fas fa-moon"></i>
            </button>
            <a href="/"><i class="fas fa-home"></i> الرئيسية</a>
            <a href="/about"><i class="fas fa-info-circle"></i> عن الاستبيان</a>
            <a href="#"><i class="fas fa-envelope"></i> اتصل بنا</a>
        </div>
    </div>

    <!-- محتوى الصفحة -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
<div class="footer-bar">
    <p>انتظروا المزيد من الاختبارات المدعومة بالذكاء الاصطناعي</p>
</div>

</html>
